<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>

        <%- include('./partials/navbar.ejs') %>

            <%users.forEach(user=> {%>
                <% if(user._id==Userid){%>
                    <%- include('./CRUD/update.ejs',{user}) %>
                        <%}else{%>
                            <%- include('./CRUD/read.ejs',{user}) %>
                                <%}%>
                            <%})%>
    </body>

</html>